{% extends 'base.html.twig' %}

{% block title %}Hello MessagerieController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="left-menu conversations">
        </div>

        <div class="current-conversation">
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/secure/conversations/conversations.js')}}"></script>
{% endblock %}
