.container{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 100%;

    .left-menu{
        height: 100%;
        width: 15%;
        background-color: aqua;

        .conversation-card{
            min-height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: solid 3px violet;
            &:hover{
                background-color: violet;
            }
        }
    }

    #current-conversation{
        display: flex;
        flex-direction: column;
        flex: 1;

        #messages-window{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #fff;
            height: 80%;
            align-items: center;

            #titre-conversation{
                font-size: 24px;
            }

            #messages{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                width: 100%;
                .message{
                    margin: 25px;
                    border-radius: 45px;
                    padding: 8px 25px;
                    max-width: 50%;
                    text-align: justify;
                    
                    &.right{
                        align-self: flex-end;
                        background-color: rgb(142, 142, 250);
                        color: #fff;
                        border: solid 2px rgb(142, 142, 250);
                    }

                    &.left{
                        align-self: flex-start;
                        background-color: rgb(255, 172, 117);
                        color: #fff;
                        border: solid 2px rgb(255, 172, 117);
                    }
                }
            }
        }

        #add-message{
            display: flex;
            align-items: center;
            height: 20%;
            padding-left: 25px;

            #text-container{
                height: 30px;
                width: 1100px;
                // transition: none;
                #text-message{
                    // transition: none;
                    min-width: 100%;
                    max-width: 100%;
                    border: none;
                    outline: none;
                    border-radius: 15px 0 0 15px;
                    resize: none;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 30px;
                    height: 30px;

                    
                    padding-left: 10px;
                    padding-right: 5px;
                }
            }

            #send-message{
                border: none;
                outline: none;
                cursor: pointer;
                background-color: rgb(142, 142, 250);
                border-radius: 0 15px 15px 0;
                height: 30px;
                width: 100px;
                color: #fff;
                margin-left: 15px;

                &:hover{
                    background-color: rgb(180, 180, 255);
                }

                &:active{
                    background-color: rgb(114, 114, 196);
                }
            }
        }
    }
}


